
// -----------------------------
//         BASE COLORS
// -----------------------------
$base-color: #d8d8d8;
$green     : #283618;
$blue      : #0077b6;   

// -----------------------------
//         BASE Spacing
// -----------------------------
$base-padding: .5em;
$base-margin: .5em;
// -----------------------------
//         BASE fontsize
// -----------------------------
$base-fontsize: 1em;
// -----------------------------
//         Heading Tags: <h1> <h2> ...
// -----------------------------

#{headings()} {
    color: $blue;
} 



